@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.178);
    background-color: #1a1a1a;
    color: #ffffff;
}

button a {
    border: none;
    color: white; 
    padding: 15px 30px; 
    font-size: 16px; 
    cursor: pointer;
    overflow: hidden; 
    outline: none;
    text-decoration: none;
}

button a:hover {
    transition: font-size 0.3s ease;
    font-size: 25px;
}

button a:hover:after {
    width: 10%; 
    left: 0; 
}


.hamburger {
    display: none;
    color: #f4f4f4;
    cursor: pointer;
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    left: 10px;
    top: 10px; 
}

.hamburger {
    display: none;
}

.hamburger span {
    background-color: #ffffff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.sidebar {
    position: relative; 
    width: 100%;
    height: auto;
    background-color: #312b2b;
    padding: 10px 0;
    display: flex;
    justify-content: center; 
    transition: none; 
    transform: none; 
    opacity: 1;
}



.sidebar {
    transform: translateX(0); 
    opacity: 1;
    
    
}

.sidebar.open {
    transform: translateX(0);
    opacity: 1;
}

/* Animaciones de hamburguesa */
.hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

.title-header h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-size: 70px;
    background-color: #b30202;
    border-color: #000000;
    border-style: solid;
    
}



.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar ul li:hover {
    opacity: 1; 
}

.sidebar h2 {
    display: none; 
}


.sidebar ul {
    display: flex; 
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 12px 20px; 
    border-bottom: none; 
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    opacity: 0.8;
}

.sidebar li:hover {
    
    opacity: 4;
    
}

.main-content {
    padding-bottom: 30px;
}

/* Estilos de la barra de navegación superior */
.top-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.top-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

.top-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.search-bar {
    background-color: #333;
    border: none;
    padding: 10px;
    margin: 10px;
    color: white;
    width: 97%;
}

.album-header {
    margin-bottom: 20px;
    text-align: center;
}

.album-header h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.album-header p {
    font-size: 14px;
    margin-bottom: 20px;
}

.album-header button {
    margin-right: 10px;
    padding: 10px;
    border-style: double;
    border-radius: 15px;
    cursor: pointer;
    background-color: #ff0000b9;
    color: white;
    font-size: 14px;
}



.album {
    margin: 15px;
    text-align: center; 
    cursor: pointer;
    
}

.album img {
    width: 100%; 
    max-width: 100px; 
    height: 100px; 
    
    
}

.album a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; 
}



.album-songs {
    margin-top: 20px;
}

.album-songs h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#song-list {
    list-style: none;
    padding-left: 0;
}

#song-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    
}




.popular-albums,
.popular-songs {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.album-list,
.song-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    justify-items: center; 
}

.album,
.song {
    background-color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    height: 195px;
    width: 160px; 
    box-sizing: border-box;
    margin: 10px;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album:hover,
.song:hover {
    transform: scale(1.05); /* Agrandar un poco al pasar el mouse */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); 
}

.album img {
    width: 100%; 
    height: 100%;
    max-width: 140px;
    max-height: 140px;
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.sidebar-album {
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.sidebar-album i {
    margin-right: 10px; 
}

.sidebar-album a {
    margin-right: 10px; 
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}



form {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 1250px;
    margin: 20px auto;
    color: white;
}

form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #ff0000; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    letter-spacing: 1px;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="password"],
form select,
form textarea {
    width: 95%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    margin-bottom: 20px;
    font-size: 14px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="date"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
    background-color: #444;
    outline: none;
}

form input[type="submit"] {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

form input[type="submit"]:hover {
    background-color: #ff4d4d;
    transform: scale(1.05);
}

form textarea {
    height: 100px;
    resize: none;
}

form .form-group {
    margin-bottom: 15px;
}

form .radio-group,
form .checkbox-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

form .radio-group label,
form .checkbox-group label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

form .radio-group input[type="radio"],
form .checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilo para mensajes de error */
form .error {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}


button[type="submit"] {
    background-color: #00000062; 
    color: white; 
    padding: 12px 24px; 
    font-size: 16px; 
    font-weight: bold;
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    transition: background-color 0.3s ease; 
}


button[type="submit"] i {
    margin-right: 8px; 
    font-size: 18px; 
}

button[type="submit"]:hover {
    background-color: #b30202; 
}

button[type="submit"]:active {
    background-color: #34c7f3; 
    transform: scale(0.98); 
}



 

footer {
    background-color: #1a1a1a;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: "Bebas Neue", sans-serif;
    border: #1a1a1a00;
    border-top: #ffffffb9;
    border-style: solid;
    border-width: 1px;
}

@media screen and (max-width: 600px) {
    .sidebar ul li {
        padding: 12px;
        border-bottom: #444; 
    }
    .sidebar ul {
        flex-direction: column; 
    }

    .album-header h1 {
        font-size: 18px;
    }

    .album-header p {
        font-size: 12px;
    }

    .album-header button {
        font-size: 12px;
        padding: 8px;
    }

    .album-list,
    .song-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        
    }

    .album,
    .song {
        height: 190px;
        width: 170px;
        box-sizing: border-box;
        margin: 10px;
        padding: 10px;
    }
    


    .sidebar {
        width: 100%;
        padding: 20px;
    }

    .hamburger {
        left: 10px;
        top: 10px; 
    }

    .hamburger {
        display: flex; 
        left: 10px;
        top: 10px; 
    }


    .sidebar {
        transform: translateX(-100%); 
        opacity: 0; 
    }

    .sidebar.open {
        transform: translateX(0);
        opacity: 1;
    }

    .sidebar {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.6s ease, opacity 0.6s ease;
        opacity: 0;
    }

    .search-bar {
        margin-top: 20px; 
        background-color: #333;
        border: none;
        padding: 10px;
        color: white;
        width: 100%;
    }

    .sidebar {
        display: block;
    }


    form input[type="text"],
    form input[type="email"],
    form input[type="date"],
    form input[type="password"],
    form select,
    form textarea {
        width: 90%;
        padding: 12px;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: white;
        margin-bottom: 20px;
        font-size: 14px;
        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s ease;
    }


    form {
        background-color: #222;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        max-width: 300px;
        margin: 20px auto;
        color: white;
    }
    

}


