@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary-color:  rgba(172, 172, 172, 0.568);
    --secondary-color: rgba(0, 122, 51, 0.9); 
    --background-color: #F0F0F0;
    --text-color: #FFFFFF;
    --dark-text-color: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    background-color: rgb(29, 118, 202);
    background-image:url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') ;
    
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--text-color);
}

header::after {
    content: '';
    display: block;
    width: 550px;
    height: 2px;
    background-color: var(--text-color);
    margin: 10px auto 0 auto;
}


h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero {
    position: relative;
}


.hero img {
    width: 100%;
    height: auto;
}

.data, .weather {
    position: absolute; /* Make sections position absolute */
    background-color: rgba(172, 172, 172, 0.568);
    padding: 20px;
    border-radius: 8px;
    color: var(--text-color);
}




.data {
    top: 15%; 
    width: 30%;
    right: 65%;
    border: 2px solid white;
    backdrop-filter: blur(1px);
}
    


.weather {
    top: 70%; 
    left: 66%; 
    width: 30%;
    border: 2px solid white;
    backdrop-filter: blur(1px);
}


.data-content, .weather-content {
    margin-top: 10px;
    
}
strong {
    color: var(--text-color);
}

.weather-icon {
    font-size: 1.5em; 
}

footer {
    background-color: rgba(172, 172, 172, 0.568);
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    font-size: 14px;
    border-top: 2px solid white;
    backdrop-filter: blur(1px);
}

footer::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: wheat;
    margin: 10px auto 0 auto;
    border-radius: 2px;
}




.icon {
    width: 64px;
    height: 64px;
    margin-right: 8px;
    left: 100px;
}

h2 {
    display: flex;
    align-items: center;
}


.hero h2 {

    display: flex;
    justify-content: center;
    color: #F0F0F0;

}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        
    }

    .hero {
        order: 1;
    }

    .data, .weather {
        position: static; /* Remove absolute positioning */
        width: auto; /* Full width */
        margin: 10px;
        background-color: rgba(172, 172, 172, 0.568);
        border: 2px solid white;
        backdrop-filter: blur(1px);
    }

    .data {
        order: 2;
    }

    .weather {
        order: 3;
    }

    footer {
        order: 4; /* Ensure footer is last */
        margin-top: auto; /* Push footer to bottom */
    }
}

@media (min-width: 601px) {
    .data, .weather {
        margin: 60px auto;
    }
}